@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@600&display=swap');

// top universitets font

$main_info_h1: 50px;
$tops_h1: 40px;
$tops_card_title: 18px;
$tops_card_text: 14px;
$tops_card_prise: 22px;
$tops_card_degre: 14px;
$categorys_title: 14px;
$client_say_text: 22px;