.main__page_content {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./../images/main_content_bg.png');
    background-size: auto 100%;
    background-position: top center;
    background-repeat: no-repeat;

    // background-attachment: fixed;
    .navbar-toggler-icon {
        filter: invert(1);
    }


    .btn_login {
        background-color: #5A68E7;
        font-family: Oxanium;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #FFFFFF;
    }

    .navbar-brand {

        font-family: Oxanium;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height */
        color: #FFFFFF;

        .logo__image {
            height: 30px;
        }

    }

    .info {
        h1 {
            width: 700px;
            font-family: sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: $main_info_h1;
            line-height: $main_info_h1;
            text-align: center;
            color: #FFFFFF;
            margin-top: 7rem;
            margin-bottom: 2rem;
            animation-duration: 0.8s;
        }

        p {
            width: 500px;
            font-family: sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
            opacity: 0.9;
            margin-bottom: 3rem;
            animation-duration: 0.8s;
        }
        button {
            animation-duration: 0.8s;
        }
    }

    .universitets {
        margin-top: 3rem;
        padding: 5rem 0 8rem;
        animation-duration: 0.8s;

        img {
            width: 120px;
            filter: contrast(0.4);
            opacity: 0.8;
        }

        a {
            padding: 0.5rem 1rem;
            margin: 1rem;
        }
    }
}

@media only screen and (max-width:767px) {
    .main__page_content {
        .info {
            h1 {
                width: 100%;
                font-size: $main_info_h1 - 10px;
                line-height: $main_info_h1 - 10px;
                margin-top: 7rem;
                margin-bottom: 2rem;
            }

            p {
                font-size: 12px;
            }
        }

        .universitets {
            margin-top: 3rem;
            padding: 5rem 0 8rem;

            img {
                width: 120px;
                filter: contrast(0.4);
                opacity: 0.8;
            }

            a {
                padding: 0.5rem 1rem;
                margin: 1rem;
            }
        }
    }
}

@media only screen and (max-width:560px) {
    .main__page_content {
        .info {
            h1 {
                width: 100%;
                margin-top: 7rem;
                margin-bottom: 2rem;
            }

            p {
                width: 100%;
                font-family: sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: #FFFFFF;
                opacity: 0.9;
                margin-bottom: 3rem;
            }
        }

        .universitets {
            margin-top: 3rem;
            padding: 5rem 0 8rem;

            img {
                width: 90px;
                filter: contrast(0.4);
                opacity: 0.8;
            }

            a {
                padding: 0.5rem 1rem;
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width:575px) {
    .main__page_content {
        .universitets {
            img {
                width: 90px;
                filter: contrast(0.4);
                opacity: 0.8;
            }

            a {
                padding: 0.4rem 0.4rem;
                margin: 0;
            }
        }
    }
}